# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!README.md

# Include xpr and srcs
!ci_for_fpgas.srcs/
!ci_for_fpgas.srcs/*
!ci_for_fpgas.xpr

# Include gen files
!ci_for_fpgas.gen/
!ci_for_fpgas.gen/*

!tcl_scripts/
!tcl_scripts/*

!.bbx/
!.bbx/*
